node_modules
0x00-Webpack/task_0/dist/main.js*
*package-lock*
0x00-Webpack/task_3/public_temp
0x01-react_intro/Test*
0x01-react_intro/task_5/dashboard_
0x01-react_intro/task_5/temp
0x02-react_props/task_1/temp
0x02-react_props/Tasks
0x02-react_props/Test