
.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-style: italic;
    font-weight: 550;
    font-size: 1.2rem;
    border-top: 0.2rem solid #e0354b;
    bottom: 0;
    max-height: 10vh;
  }
  