.NotificationWrapper {
    padding: 0.7rem 1rem 0 0;
    position: absolute;
    right: 0;
}

.Notifications {
    border: .2rem dashed rgb(224, 53, 75);
}

.menuItem {
    text-align: right;
    padding-bottom: 0.2rem;
}
li[data-notification-type='default'] {
    color: blue;
}

li[data-notification-type='urgent'] {
    color: red;
}

.Notifications p,
.Notifications li {
    font-weight: bold;
    font-size: 1rem;
}