.Notifications {
    border: .1rem dashed rgb(224, 53, 75);
    padding: 0 .4rem;
}

li[data-priority='default'] {
    color: blue;
}

li[data-priority='urgent'] {
    color: red;
}

.Notifications p,
.Notifications li {
    font-weight: bold;
    font-size: 1rem;
}